

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
.digital{
    margin-top: 5%;
    color: rgb(170, 164, 164);
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

#clock {
    font-size: 4rem;
    margin-top: 3%;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    color: rgb(4, 238, 4);
}